{% extends 'base.html' %}


{% block content %}
    <div class="cart-container">
        <div class="cart-item cart-info">
            <p>Image</p>
            <p>Name</p>
            <p>price</p>
            <p>quantity</p>

        </div>
        <div class="cart-items">
            {% for product in products %}
                {% include 'cart/cart_item.html' with product=product %}

            {% endfor %}
        </div>
        <div class="cart-checkout">
            <p>total: </p>
            <button class="btn btn-lg btn-primary">browse more</button>
            <button class="btn btn-lg btn-primary">buy now</button>

        </div>
    </div>

{% endblock %}