<div class="cart-item" id="cart-item-{{ product.id }}">
    <img src="{{ product.productimage_set.first.image.url }}">
    <p>{{ product.name }}</p>
    <p>{{ product.price }} Kr</p>

    <div class="quantity-container">
    <button type="submit" onclick="addToCart({{ product.id }}, true, true)"><i class="fas fa-plus"></i></button>


    <input value="{{ quantity }}" id="cart-input-{{ product.id }}">

    <button type="submit"><i class="fas fa-minus" onclick="addToCart({{ product.id }}, false, true)"></i></button>
    </div>

</div>