<div class="cart-item">
    <img src="{{ product.productimage_set.first.image.url }}">
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>

    <div class="quantity-container">
        <form action="{% url 'add-to-cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">+</button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>

        <input value="{{ quantity }}">

        <form action="{% url 'remove-from-cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">-</button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>
</div>