{% extends 'base.html' %}

{% block content %}
    <div class="cart-container">
        <div class="cart-item cart-info">
            <p id="cartheader">Shopping cart</p>
            <p>Name</p>
            <p>Price</p>
            <p>Quantity</p>

        </div>
        <div class="cart-items">
            {% for product, quantity in products %}
                {% include 'cart/cart_item.html' with product=product quantity=quantity%}

            {% endfor %}
        </div>
        <div class="cart-checkout">
            <p>Checkout total: {{ total_price }}</p>
            <button class="btn btn-lg btn-primary">Browse more</button>
            <button class="btn btn-lg btn-primary">Checkout</button>

        </div>
    </div>

{% endblock %}