{% extends "base.html" %}
{% block content %}
<div class="container emp-profile">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ image_root }}{{ profile_picture }}" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Upload Photo
                                {{ form }}
                            </div>
                            <input type="submit" id="profile_pic_button" class="btn btn-primary" style="margin: 20px;" value="Change profile picture" />
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ account.first_name}} {{ account.last_name }}
                                    </h5>
                                    <h6>
                                        {{ account}}
                                    </h6>
                                     <a href="{% url 'change_info' %}" style="text-decoration: none; color: black">Change information<i class="fas fa-pen"></i></a>
                            <ul class="nav nav-tabs" id="myTab" role="tablist" >
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Search history</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Orders</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ account.first_name }} {{ account.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ account.email }}</p>
                                        </div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                  {% for search in search_history %}
                                    <a href="/products/{{ search.id }}" class="row" style="color: black">
                                        <div class="col-md-6">
                                            <label>{{ forloop.counter }}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ search }}</p>
                                        </div>
                                    </a>
                                  {%  endfor %}
                              </div>
                              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                  {% for order in orders %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ forloop.counter }}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ order }}</p>
                                            {% for product in order.ordered_product_set.all %}
                                                {{ product }}

                                            {% endfor %}
                                        </div>
                                    </div>
                                  {%  endfor %}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}