{% extends 'base.html' %}
{% block content %}
    <div class="sign-up">
    <h1>Ship O'Cereal</h1>
    <form method="POST" action="{% url 'login' %}" class="form form-horizontal">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}




        {% for field in form %}
            {% include 'account/single_input.html' with field=field %}
        {% endfor %}
        <div style="display: flex; justify-content: center;">
        <input type="submit" class="btn btn-primary" value="Login" />

        </div>
    </form>
         <p>Don't have an account ? <a class="signup-link" href="{% url 'register' %}">Sign up</a></p>
    </div>

{% endblock%}