.cart-container {
    width: 100vw;
    height: 90vh;
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid lightgray;
    padding: 50px;
    align-items: center;
}

.cart-item img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.cart-item input{
    background: transparent;
    border: none;
    text-align: center;
}


.quantity-container button,
.quantity-container input {
    width: 2rem;
    height: 2rem;
    border: none;
    text-align: center ;

}
.quantity-container button {
    background-color: transparent;
}

.cart-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 20%;
}

.cart-info {
    height: 10%;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    border-bottom: none;

}
p {
    margin: 0;
}

p#cartheader {
    font-weight: bold;
    /* text-align: left;*/
}

.btn btn-lg btn-primary {
    border: none;
    background-color: lightgray;


}
