/*Var bara að búa til fileinn*/

.cop123-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: center;
}
.cop123-container-left {
    display: grid;
    grid-row-gap: 1%;
    padding: 10px;
    padding-top: 20px;
}
.cop123-container-right {
    padding: 20px;
    overflow-y: scroll;
    max-height: 50vh;

}
.payment-phase-container {
    display: flex;
    width: 100vw;
    min-height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.cop123-heading {
    font-size: 1.7em;
}
.cop123-submit-btn {
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
.cop123-phase-traversal {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cop123-phase-traversal a{
    margin: 20px;
}
.cop123-product {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: #aaaaaa 2px solid;
}
.cop123-product-image {
    width: 100px;
    height: auto;
}
.cop123-product-info {
    margin-bottom: auto;
    margin-top: auto;
}
.cop123-container-confirmation {
    margin-top: 10%;
}