
body {
    font-family: Montserrat;

    height: 100vh;

}

.main-body {
    overflow-y: scroll;
    height: 90%;
}

.navbar {

    top: 0px;
    background-color: #173E43;
    /* background-color: lightslategrey; */
    width: 100vw;
    height: 10%;
}



.footer {
    background-color: #173E42;
    /* background-color: lightslategrey; */
    height: 15vh;
}
.search {
    height: 90%;
    width: 50vw;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 50vw;
    min-height: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .search {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.small-image {
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.small-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 300px;
  height: 400px;
  background: white;
    border: solid 1px lightgray ;
    border-radius: 10px;
  color: black;

  transition: all .4s ease;
}
.small-product:hover {
  border-radius: 5%;
  z-index: 10;
  box-shadow: 0px 0px 100px 30px yellow,
             0 0px 70px 50px blue,
             0 0px 45px 80px red;
}
.small-product h1 {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 10px;

}


.small-product p {
    font-size: 1rem;

}

.small-product-text {
    width: 100%;
    margin-left: 1rem;
    float: left;
}
.contents {
    /* padding-top: 20px; */
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 90vh;
    overflow-y: auto;

}


/*
this is all the detailed product stuff
 */

.big-image {
    flex-direction: row;
    padding-top: 30px;
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.detailed-product-info {
    flex-direction: column;
    float: left;
    padding-top: 30px;
    line-height: 300%;
    width: 500px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: white;
}

/*
this is for the search results
 */
.x-small-images {
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.single-search-result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px transparent;
    padding: 5px;

}

.single-search-result:hover {
/*TODO make something happen when hover over search link*/
      border-radius: 5px;
  z-index: 10;
  box-shadow: inset 0px 0px 2px 2px yellow,
             inset 0px 0px 3px 3px blue,
            0 0px 2px 2px red;
}

.dropdown-content {
    padding-bottom: 5px;
}
.dropdown-content a{
    color: black;

}

.add-to-cart-btn {
    padding: 10px
}

.circle {
    position: absolute;
    top: -4px;
    right: 0px;
    z-index: 10;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    text-align: center;
}

.cart-nav {
    position: relative;
}