.navbar {
    background-color: #173E43;
    width: 100vw;
    height: 8vh;
}

.footer {
    background-color: #173E42;
    position: absolute;
    height: 15vh;
    bottom: 0px;
}
.search {
    width: 40vw;

}


.cart-item {
    display: inline-block;
    border-bottom: solid 2px black;
}


.column-labels {
    display: none;
  }

.product-info{
    display: inline;
    float: left; width: 37%;
    margin-left: 20 px;
    margin-right: 20px;
}


.image{
    float: left; width: 20%;
}


.contents {
    display: flex;
    overflow: scroll;
    height: 78vh;
}
img {
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
}


.quant-info{
    float: right; width: 20%;
}

