.hamburger {
    display: none;
}
.hamburger a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

#myLinks {
    display: none;
    background-color: lightgray;
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 100%;
    flex-direction: column;
    z-index: 12;
    /*padding-left: 20px; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#myLinks a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    /*margin: 15px; */
    border-top: 1px solid darkgray;

}

.hamburger a:hover {
    color: darkgrey;
}

#myLinks a:hover {
    background-color: gray;
}

@media only screen and (max-width: 846px) {
    .hamburger {
        display: inline;
    }
}
@media only screen and (min-width: 846px) {
    #myLinks {
        display: none;
    }
}