{% extends 'base.html' %}

{% block content %}
    <div class = "content-on-detailed-product">
        <div class = "one-or-more-images">
            <img class="big-image" src="{{ product.productimage_set.first.image.url }}" id="big-image-{{ product.id }}"/>
            <div style="display: flex; flex-direction: column; width: auto; height: auto; margin: 20px; justify-content: flex-start;">
                {% for product_image in product.productimage_set.all %}

                    <a  onclick="changePicture('{{ product_image.image.url }}', '{{ product.id }}', this)" style="opacity: .6;" >
                        <img class="preview-image" src="{{ product_image.image.url }}" />
                    </a>

                {% endfor %}
            </div>
        </div>
        <div class = "detailed-product-info">
            <h1>{{ product.name }}</h1>


            {% if product.rating_set.first.rating %}
                <p>rating: {{ product.rating_set.first.rating}} ({{ product.rating_set.first.number_of_ratings }} ratings)</p>
            {% else %}
                <p>rating: no ratings yet</p>
            {% endif %}

            <span id="rating-{{ product.id }}">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input id="rating-input" style="display: none;" value="">
                    <button id="star-1-{{ product.id }}" onclick="rateProduct(1)" style="background: transparent; border: none; color: orange; width: auto; margin: 0px"><i class="fas fa-star"></i></button>
                    <button id="star-2-{{ product.id }}" onclick="rateProduct(2)" style="background: transparent; border: none; color: orange; width: auto; margin: 0px"><i class="fas fa-star"></i></button>
                    <button id="star-3-{{ product.id }}" onclick="rateProduct(3)" style="background: transparent; border: none; color: orange; width: auto; margin: 0px"><i class="fas fa-star"></i></button>
                    <button id="star-4-{{ product.id }}" onclick="rateProduct(4)" style="background: transparent; border: none; color: orange; width: auto; margin: 0px"><i class="fas fa-star"></i></button>
                    <button id="star-5-{{ product.id }}" onclick="rateProduct(5)" style="background: transparent; border: none; color: orange; width: auto; margin: 0px"><i class="fas fa-star"></i></button>

                    <button id="submit-rating" type="submit" style="display: none"></button>

                </form>
            </span>
            <b>Type: {{ product.type.type}}</b>
            <h2>Description:</h2>
            <p>{{ product.description }}</p>
            <b>Price: {{ product.price }} Kr</b>
            {% include 'cart/add-to-cart.html' %}

        </div>
    </div>

<script>
    function setRating(pId, rating) {
        let r = Math.round(Number(rating) / 2);
        for (let i=0; i <5;i++) {
            let star = document.getElementById("star-" + (i+1).toString() + "-" + pId);
            if (i < r) {
                star.style.color = 'orange';
            } else {
                star.style.color = "gray";
            }
        }
    }

    function rateProduct(nr) {
        let rating = 2 * nr;
        document.getElementById('rating-input').value = rating;
        document.getElementById('submit-rating').click();
    }
    setRating("{{ product.id }}", "{{ product.rating_set.first.rating }}")
</script>
{% endblock %}