{% extends 'base.html' %}

{% block content %}
    <div class = "one-or-more-images">
    {% for product_image in product.productimage_set.all %}
        <img class="big-image" src="{{ product_image.image.url }}"/>
    {% endfor %}
    </div>
    <div class = "detailed-product-info">
        <h1>{{ product.name }}</h1>

        {% if product.rating_set.first.rating %}
            <p>rating: {{ product.rating_set.first.rating}} ({{ product.rating_set.first.number_of_ratings }} ratings)</p>
        {% else %}
            <p>rating: no ratings yet</p>
        {% endif %}
        <b>Type: {{ product.type.type}}</b>
        <h2>Description:</h2>
        <p>{{ product.description }}</p>
        <b>Price: {{ product.price }}</b>
        {% include 'cart/add-to-cart.html' %}

    </div>
    <!--
    TODO: css, add to cart
    i am going to steal add to cart when it is done1!
    -->

{% endblock %}