{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        {% csrf_token %}
    <div class="payment-phase-container">
        <div class="cop123-phase-traversal">
                <a class="btn btn-info" href="{% url 'contact_phase' %}">Contact information</a>
                <a class="btn btn-primary" href="{% url 'payment_phase' %}">Payment information </a>
                <a class="btn btn-info" href="{% url 'review_phase' %}">Review information</a>
        </div>
        <div class="cop123-container">
            <div class="cop123-container-left">
                <form method="POST" >
                <h1 class="cop123-heading">Please enter your contact information</h1>
                {{ form|crispy }}
                <div style="display:flex; justify-content: center; margin: 20px">
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>

                </form>
            </div>
            <div class="cop123-container-right">
                <h1 class="cop123-heading">Cart information</h1>
                {% for product in cart %}
                    <div class="cop123-product">
                        <div>
                          <image class="cop123-product-image" src="{{ product.0.productimage_set.first.image.url }}"></image>
                        </div>
                        <div class="cop123-product-info">
                            <p>Name: <span>{{ product.0.name }}</span></p>
                            <p>Price: <span>{{ product.0.price }}</span>
                            <p>quantity: <span>{{ product.1 }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}